<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shoes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/f8ca3d18f3.js" crossorigin="anonymous"></script>
    <link href="static/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="body">
<!-- nav bar was removed here-->
{% include 'navbar.html' %}

<div class="container">
    {% if session.user %}
        Welcome:
        {{session.user}} <a href="/logout">Logout</a>

    {% else %}
       Not Logged in <a href="/login">Login here</a>

    {% endif %}
    .

       <h3>TOP SELLING BRANDS</h3>
        <section class="row">
            {% for row in rows %}
               <div class="col-md-4">
                   <div class="card">
                       <div class="card-body text-center">
                           <img src="../static/{{row[10]}}"  class="img-fluid" width="60%">
                           <br>
                           <h6>{{row[2]}}</h6>
                           <p class="text-muted">{{row[3]}}</p>
                           <b>
                              <strike class="text-muted">KES {{row[5]}}</strike>
                              <b class="text-info">KES {{row[6]}}</b>
                           </b>
                          <br>
<!--   below we access /single route providing the current product_id-->
                          <a href="/single/{{row[0]}}" class="btn btn-info">Read More</a>
                       </div>
                   </div>
                   <br><br>
               </div>
            {% endfor %}
        </section>
   </div>

{% include 'footer.html' %}

<!--footer was removed here-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>