<!DOCTYPE html>
<html>
<head class="body"> 
	<meta charset="utf-8">
	<title>Sign In</title>
	  <script src="https://kit.fontawesome.com/f8ca3d18f3.js" crossorigin="anonymous"></script>
	  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	  <link rel="stylesheet" type="text/css" href="static/style.css">
	  <link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@100&display=swap" rel="stylesheet">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="body">

<!-- Nav Bar -->
<section>
    <nav class="navbar navbar-expand-lg navbar-light bg-light"  >
              <img src="static/logo.png" width="200px" height="100px">
              <a class="navbar-brand" href="/"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item active">
                      <a class="nav-link" href="/"><b>Home</b></a>
                    </li>

                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="/activewear" id="navbardrop"><b>Active Wear</b></a>
                      <div class="dropdown-menu">
                        <ul class="dropdownlinks">
                            <li><a href="activewear#men"> Men</a></li>
                            <li><a href="activewear#women">Women</a></li>

                        </ul>
                      </div>
                    </li>



                    <li class="nav-item">
                      <a class="nav-link" href="/shoes"><b>Shoes</b></a>
                    </li>
                    <br>

                    <li>
                      <a class="nav-link" href="/accessories"><b>Accessories</b></a>
                    </li>

                     <li>
                      <a class="nav-link" href="/tournaments"><b>Tournaments</b></a>
                    </li>

                    <li>
                        <div id="account" class="nav-item dropdown" >
                            <a class="nav-link dropdown-toggle" href="/account" id="navbardrop"><b>Account</b></a>
                                <div class="dropdown-menu">
                                    <ul class="dropdownlinks">
                                        <li><a href="/signin">Sign In</a></li>
                                        <li> <a href="/signup">Sign Up</a></li>
                                    </ul>
                                </div>
                        </div>
                    </li>
                </ul>
              </div>

    </nav>

</section>

<div class="container">
	<br>
	<section class="row">
		<div class="col-md-7">
			<img src="static/mwanasporty.png" class="img-fluid">
		</div>

		<div class="col-md-5">
			<form action="">
				<h3 style="text-center">Sign Up</h3> <br>
                <input type="text" class="form-control" name="username" placeholder="Username"> <br><br>
				<input type="email"  class="form-control" name="email" placeholder="Your Email"> <br><br>
				<input type="password" class="form-control" name="" placeholder="Password"> <br><br>
				<input type="submit" value="Create Account" class="btn btn-warning">
				
			</form>
			<br>
			<a href="/signin">Have An Account? Sign In</a>
		</div>
	</section>
</div>





<!-- Footer Section  -->
<section>

   <footer>
    <div class="row">
        <div class="col-md-3 row text-center">
        	<h4>Mwana Sporty</h4><br>

  			<p>We design clothing an shoes that integrate performance and technical features for active adults and kids.<br> From running and yoga to swimming and hiking ,we've got you covered.</p>

  			<b>We Accept </b><br><br>
            <a href=""><i class="fab fa-paypal" style="font-size: 36px;"></i></a>
            <a href=""><i class="fab fa-cc-visa" style="font-size: 36px;"></i></a>
            <a href=""><img src="static/lipanampesa.jpeg" width="36px"></a>

			
            
           
            
            
        </div>


        <div class="col-md-3">
            <i class='fas fa-clock' style='font-size:36px; color:red;'></i><br>
            <h4><b >We Are Open!</b><br></h4>
            <b class="text-muted">Weekdays: 9 am- 5 pm</b><br>
            <b class="text-muted">Weekends: 9am -12pm</b><br>
            <b class="text-muted">We are closed on all public holidays</b>
        </div>

        <div class="col-md-3">
            <i class="fas fa-phone" style='font-size:30px; color:green '></i><br>
            <h4><b class="text-warning"> Customer Care Lines</b><br></h4>
            
            <b>020 567 767</b><br>
            <b>020 767 567</b><br>
            <b>Email:</b><br>


        </div>
        <div class="col-md-3">
        	<h4><b>Our Social Media Handles:</b></h4><br>
        	<p>Follow us on our social meia platforms</p>
			<ul class="dropdownlinks">
				<a href=""><i class='fab fa-twitter' style='font-size:40px'></i></a>
				<a href=""><i class='fab fa-youtube' style='font-size:40px; color:red'></i></a>
				<a href=""><i class='fab fa-facebook' style='font-size:40px'></i></a>
				<a href=""><i class='fab fa-google-play' style='font-size:40px; color:green'></i></a>
			</ul>
            
        </div>

      </div>

    </footer><br>

	<footer class="footer" class="row" >
            <div class="col-md-12 text-center text-white">
              <b>Copyright &copy; 2021. All Rights Reserved</b>
              <br>
              <i>Developed by <a href="" class="text-black-50"><b>JeronoK Ltd</b></a></i>
            </div>
      
</footer>
</section>


	


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

</body>
</html>